*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    text-transform: lowercase;
    color:lightgreen;
    padding:2rem 3rem;
}